In [1]:
!pip install pandas
!pip install xlrd
!pip install openpyxl

Requirement already satisfied: pandas in /opt/anaconda3/envs/myflask/lib/python3.9/site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/envs/myflask/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/envs/myflask/lib/python3.9/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in /opt/anaconda3/envs/myflask/lib/python3.9/site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/myflask/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: xlrd in /opt/anaconda3/envs/myflask/lib/python3.9/site-packages (2.0.1)
Requirement already satisfied: openpyxl in /opt/anaconda3/envs/myflask/lib/python3.9/site-packages (3.0.7)
Requirement already satisfied: et-xmlfile in /opt/anaconda3/envs/myflask/lib/python3.9/site-packages (from openpyxl) (1.1.0)

In [2]:
import pandas as pd
import numpy as np
import glob,os

### 先將所有 excel表 匯成 DataFrame

In [3]:
#存放檔案路徑
path = '/Users/Jerry/Desktop/Time series/google map'

file = glob.glob(os.path.join(path, "*.xlsx"))

dl= []

for value in file:
    dl.append(pd.read_excel(value,usecols = ['使用者','地點','評價(1~5)'],index_col=None))

Total_df =pd.concat(dl,axis=0)

Total_df.dropna()

Total_df

                  使用者 評價(1~5)         地點
0          Souyi chen   4 顆星      蕭壠文化園區
1                 邱小欣   4 顆星      蕭壠文化園區
2                 鍾孟殷   3 顆星      蕭壠文化園區
3    Grey (徐志摩的五十道陰影)   5 顆星      蕭壠文化園區
4       Ching rung su   3 顆星      蕭壠文化園區
..                ...     ...        ...
807               月合連   4 顆星   旺萊公園(大潭埤)
808        NanAn Chen   4 顆星   旺萊公園(大潭埤)
809              手工棉被   4 顆星   旺萊公園(大潭埤)
810      Nur khodijah   5 顆星   旺萊公園(大潭埤)
811               曾信智   2 顆星   旺萊公園(大潭埤)

[205987 rows x 3 columns]

### 把評價轉換成數字型態

In [4]:
rating = []

for i in Total_df['評價(1~5)']:
    i = i.replace(' 顆星','')
    i = i.replace(' ','')
    if i == '':
        i = np.nan
    i = float(i)
    rating.append(i)

Total_df['評價(1~5)'] = rating
Total_df['評價(1~5)']

0      4.0
1      4.0
2      3.0
3      5.0
4      3.0
      ...
807    4.0
808    4.0
809    4.0
810    5.0
811    2.0
Name: 評價(1~5), Length: 205987, dtype: float64

### 去除空值

In [5]:
Total_df.dropna()

                  使用者  評價(1~5)         地點
0          Souyi chen      4.0     蕭壠文化園區
1                 邱小欣      4.0     蕭壠文化園區
2                 鍾孟殷      3.0     蕭壠文化園區
3    Grey (徐志摩的五十道陰影)      5.0     蕭壠文化園區
4       Ching rung su      3.0     蕭壠文化園區
..                ...      ...        ...
807               月合連      4.0  旺萊公園(大潭埤)
808        NanAn Chen      4.0  旺萊公園(大潭埤)
809              手工棉被      4.0  旺萊公園(大潭埤)
810      Nur khodijah      5.0  旺萊公園(大潭埤)
811               曾信智      2.0  旺萊公園(大潭埤)

[200231 rows x 3 columns]

### 把表的型態變成pivot table

In [6]:
pivot_table = Total_df.pivot_table(index=['使用者'],columns=['地點'],values="評價(1~5)")

pivot_table

地點,B.B.ART,HMTM和明紡織文化館,【台疆祖廟】大觀音亭,七股潟湖,七股觀海樓,七股鹽山,七股鹽田濕地,七股黑板樹廊道,三山國王廟,下營區產業文化展示館,...,鹿陶洋江家古厝,麻豆代天府,麻豆文化館,麻豆護濟宮,黑橋牌香腸博物館,黑面琵鷺生態展示館（原黑面琵鷺研究及保育管理中心）,龍山漁港,龍崎文衡殿,龍湖寺,龜丹溫泉體驗池
使用者,,,,,,,,,,,,,,,,,,,,,
#もとれい,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
#情,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
& Keith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
&#31435;&#33411; &#26446;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
&雪倫,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
황빙청,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
황육상,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
힝군TV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ｇ Ｈ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ｓｎｏｗ Ｔａｉ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 使用函數corrwith做協同過濾

In [7]:
point = pivot_table["赤崁樓"]
similarity_with_other = pivot_table.corrwith(point)  
similarity_with_other = similarity_with_other.sort_values(ascending=False)
similarity_with_other.head()

/opt/anaconda3/envs/myflask/lib/python3.9/site-packages/numpy/lib/function_base.py:2634: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/opt/anaconda3/envs/myflask/lib/python3.9/site-packages/numpy/lib/function_base.py:2493: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

地點
南化烏山台灣獼猴區    1.0
楊逵紀念館        1.0
歐威電影館        1.0
赤崁樓          1.0
岳王廟          1.0
dtype: float64

In [8]:
a = similarity_with_other
b = str(a.head(3)).replace('地點','').replace(' ','').replace('.','').replace('10','').split('\n')[1:-1]
b

['南化烏山台灣獼猴區', '楊逵紀念館', '歐威電影館']